.page.home {
    display: flex;
    flex-direction: column;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: calc(100% - 20px);
        max-width: 1000px;

        .todo-list {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            flex-wrap: wrap;

            width: 100%;
            padding: 10px;
            padding-bottom: 50px;
            gap: 5px;
            border-radius: 3px;

            position: relative;

            .select-date {
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                background-color: white;
                padding: 10px 25px;

                margin-bottom: 10px;
                border-radius: 3px;

                input {
                    font-size: 1rem;
                }
            }

            .options {
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                bottom: -19px;
                left: 0;
                gap: 10px;

                button {
                    gap: 15px;
                    border-radius: 20px;
                    padding: 10px 20px;
                    background-color: white;
                    color: rgb(19, 0, 128);
                    font-size: .8rem;
                    font-weight: 500;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.275);

                    --back: rgb(1, 0, 0);
                    --color: rgb(255, 255, 255);

                    svg {
                        font-size: 1.1rem;
                        transition: initial;
                    }
                }
            }

            h3 {
                color: rgba(66, 0, 0, 0.76);
                display: none;
            }

            .list {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-height: 400px;
                overflow-y: auto;
                gap: 10px;
                padding: 10px;

                .none {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    font-weight: 450;
                    height: 100%;
                }
            }

            .item {
                display: flex;
                flex-direction: column;
                padding: 10px;
                width: 100%;
                max-width: 700px;
                background-color: white;

                color: rgba(2, 0, 66, 0.65);
                text-shadow: 0 0 .5px rgba(0, 0, 0, 0.259);
                border-radius: 10px;
                transition: .2s;
                animation: var(--show-top);

                &:hover {
                    color: rgb(1, 0, 66);
                }

                &[visible="false"] {
                    display: none;
                }

                .info {
                    display: flex;
                    align-items: center;

                    justify-content: space-between;

                    span {
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        gap: 10px;

                        p {
                            margin-bottom: -.25px;
                            padding: 6px;
                            border-radius: 50%;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &[color="alta"] {
                                background-color: red;
                            }

                            &[color="media"] {
                                background-color: rgb(255, 162, 0);
                            }

                            &[color="baixa"] {
                                background-color: rgb(11, 0, 216);
                            }

                            &:hover::after {
                                opacity: 1;
                            }

                            &::after {
                                content: attr(color) " prioridade";
                                font-size: .8rem;
                                text-wrap: nowrap;
                                position: absolute;
                                opacity: 0;
                                pointer-events: none;
                                top: -7px;
                                padding: 5px;
                                border-radius: 3px;
                                background-color: inherit;
                                color: white;
                                left: calc(100% + 10px);
                                transition: .2s;
                            }
                        }
                    }

                    h4 {
                        font-size: 400;
                    }

                    nav {
                        display: flex;
                        gap: 10px;

                        svg {
                            font-size: .8rem;
                            border-radius: 50%;
                            padding: 10px;
                            background-color: rgba(2, 0, 66, 0.76);
                            color: white;

                            &:hover {
                                background-color: rgb(4, 0, 66) !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .modal.sidebar {
        background-color: rgba(0, 0, 0, 0.157);

        &[open] .content {
            max-width: 350px;
        }

        .content {
            width: 100%;
            max-width: 0px;
            height: 100%;
            background-color: white;
            transition: .2s;
        }
    }

    .modal.new-todo,
    .modal.edit-todo {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.289);
        backdrop-filter: blur(1px);

        &[open] form {
            animation: var(--show-top);
        }

        form {
            width: calc(100% - 20px);
            max-width: 500px;
            background-color: rgb(67, 67, 193);
            color: white;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.371);

            h3 {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-block: 10px;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    label {
                        font-size: .8rem;
                    }

                    input,
                    textarea {
                        font-size: 1rem;
                        padding: 10px;
                        background-color: white;
                        border-radius: 3px;
                    }

                    textarea {
                        min-height: 150px;
                        padding: 5px;
                    }

                    span {
                        display: flex;
                        background-color: white;
                        color: black;
                        padding: 10px;
                        gap: 5px;
                        border-radius: 3px;

                        p {
                            font-size: .8rem;
                            font-weight: 500;
                            padding: 5px 10px;
                            border-radius: 20px;
                            cursor: pointer;

                            &[selected] {
                                background-color: rgb(5, 0, 72);
                                color: white;
                            }
                        }

                        &+input {
                            display: none;
                        }
                    }
                }
            }

            nav {
                display: flex;
                justify-content: flex-end;
                gap: 10px;

                button {
                    font-size: .9rem;
                    padding: 5px 10px;
                    --back: rgb(11, 0, 94);
                    --color: white;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page.home {
        display: flex;
        flex-direction: column;

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            width: calc(100% - 20px);
            max-width: 1000px;
            height: calc(100% - 100px);

            .todo-list {
                display: flex;
                flex-direction: column;
                align-self: center;
                justify-content: center;
                flex-wrap: wrap;

                width: 100%;
                padding-inline: 10px;
                padding-bottom: 40px;
                gap: 5px;
                border-radius: 3px;

                position: relative;

                .options {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    position: absolute;
                    bottom: -19px;
                    left: 0;
                    gap: 10px;

                    button {
                        gap: 15px;
                        border-radius: 20px;
                        padding: 10px 20px;
                        
                        font-size: .8rem;
                        font-weight: 500;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.275);

                        --color: rgb(255, 255, 255);

                        svg {
                            font-size: 1.1rem;
                        }
                    }
                }

                h3 {
                    color: rgba(66, 0, 0, 0.76);
                    display: none;
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    text-shadow: 0 0 .5px rgba(0, 0, 0, 0.259);
                    border-radius: 5px;
                    transition: .2s;

                    .info {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        button {
                            border-radius: 50%;
                            padding: 5px;
                            border: solid 2px rgb(255, 193, 193);
                        }

                        h4 {
                            font-size: 400;
                            font-size: .8rem;
                        }

                        nav {
                            display: flex;
                            gap: 10px;

                            svg {
                                font-size: .7rem;
                                border-radius: 50%;
                                padding: 8px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .modal.sidebar {
            background-color: rgba(0, 0, 0, 0.215);

            &[open] .content {
                max-width: 350px;
            }

            .content {
                width: 100%;
                max-width: 0px;
                height: 100%;
                background-color: white;
                transition: .2s;
            }
        }

        .modal.new-todo,
        .modal.edit-todo {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            backdrop-filter: blur(1px);

            &[open] form {
                animation: var(--show-top);
            }

            form {
                max-width: 500px;
                color: white;
                padding: 10px;
                border-radius: 3px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.371);

                h3 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-block: 10px;

                    div {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-size: .8rem;
                        }

                        input,
                        textarea {
                            font-size: 1rem;
                            padding: 10px;
                            background-color: white;
                            border-radius: 3px;
                        }

                        textarea {
                            min-height: 150px;
                            padding: 5px;
                        }
                    }
                }

                nav {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;

                    button {
                        font-size: .9rem;
                        padding: 5px 10px;
                        --color: white;
                    }
                }
            }
        }
    }
}